# Website
Django>=3.2,<4.0
# REST framework
djangorestframework
dj-rest-auth
django-filter
django-cors-headers
drf_spectacular
drf-spectacular[sidecar]
djangorestframework-yaml
drf-writable-nested
djangorestframework-simplejwt
# Dependencies
psycopg2
pyyaml
Pillow
# Deployment
whitenoise
uwsgi
# Development
pylint
black
pylint-django
